<!-- start choose customer modal -->
<div class="row-fluid">
    <div class="modal-header">
        <h3>{{t('Delete_module')}}: {{module.name}}</h3>
    </div>
    <div class="modal-body">
        {{t('Confirm_delete_module')}}: 
        <h2>{{module.name}}</h2>
        <h3>{{module.description}}</h3>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" ng-click="cancel()">{{t('Cancel')}}</button>
        <button type="button" class="btn btn-primary" ng-click="delete()">{{t('remove')}}</button>
    </div>
</div>
<!-- end choose customer modal -->